{% extends 'base.html' %}
{%  load static %}
{% block content %}
<div class="single">

    <section class="trailer">
        <h3 style="text-align: center;">{{movie.title|title}}</h3>
        <div class="trailer_frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/x73-573aWfs" frameborder="0"
                allowfullscreen></iframe>
        </div>
    </section>

    <section class="movie">
        <img src="{{movie.poster.url}}" alt="{{movie.title}}-poster">
        <ul>
            <li>{{movie.title|title}}</li>
            <li style="color:#f90;margin-bottom:10px;"><b>Original Language{{movie.language|pluralize}}:</b>
                {{movie.language|title}}</li>
            <li>{{movie.description|title}}</li>
            <li>
                Genre:
                {% for category in movie.category %}
                {% if category == movie.category|last %}
                <a href="genre.html">{{category|title}}</a>
                {% else %}
                <a href="genre.html">{{category|title}}</a>,
                {% endif %}
                {% endfor %}
            </li>
            <li>
                Starring:
                {% for cast in movie.movie_cast.all %}
                {% if forloop.last %}
                <a href="cast.html">{{cast.name}}</a>
                {% else %}
                <a href="cast.html">{{cast.name}}</a>,
                {% endif %}
                {% endfor %}
            </li>
            <li>{{movie.views}} View{{movie.views|pluralize}}</li>
        </ul>
    </section>
    <section class="links">
        <h3>Links</h3>

        {% with embeds=movie.movie_embed.all %}
        {% if embeds %}
        <ul class="wlinks">
            <li><a>Watch:</a></li>
            {% for embed in embeds %}
                <li><a href="{{embed.link}}">{{embed.quality}}</a></li>
            {% endfor %}
            <li><a href="{{movie.trailer}}">Watch Trailer</a></li>
        </ul>
        {% endif %}
        {% endwith %}

        {% with downloads=movie.movie_download.all %}
        {% if downloads %}
        <ul class="dlinks">
            <li><a>Download:</a></li>
            {% for download in downloads %}
                <li><a href="{{download.link}}" download>{{download.quality}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% with magnets=movie.movie_magnet.all %}
        {% if magnets %}
        <ul class="wlinks">
            <li><a>Magnet:</a></li>
            {% for magnet in magnets %}
                <li><a href="{{magnet.link}}">{{magnet.quality}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% with torrents=movie.movie_torrent.all %}
        {% if torrents %}
        <ul class="wlinks">
            <li><a>Torrent:</a></li>
            {% for torrent in torrents %}
                <li><a href="{{torrent.link}}" download>{{torrent.quality}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </section>

    <section class="related">
        <h3>Related movies</h3>
        {% for related_movie in related_movies %}
        <div class="relatemovie">
            <a href="#"><img src="{% static 'images/2.jpg' %}"></a>
            <a href="#"><span class="relatedname">{{related_movie.title}}</span></a>
        </div>
        {% endfor %}
    </section>

    <section class="comments">
        <h3>Comments</h3>
    </section>
</div>
{% endblock content %}