{% extends 'base.html' %} {% load static %} {% block title %}Movies{% endblock title %} {% block content %}

<section class="centered">
    {% if movies %}
    <h3>Movies</h3>
    <div class="movies">
        {% for movie in movies %}
        <div class="mov">
            <a href="{% url 'app_movies:movies_detail' movie.slug %}">
                <img src="{{movie.poster.url}}" alt="{{movie.title}}-poster">
                <h2 class="movietitle">{{movie.title|title}}</h2>
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <link rel="stylesheet" href="{% static 'css/add_content.css' %}">

    <link rel="stylesheet" href="{% static 'css/torrent_content.css' %}">
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <h2 style="text-align: center;">No result found try searching on torrent</h2>
    <form method="get" name="search-form" action="{% url 'app_torrents:torrents_home' %}" class="search-bar">
        <input type="search" name="query" pattern=".*\S.*" placeholder="Search Here......" minlength="4" autocomplete="off" required>
        <button class="search-btn overlay" type="submit">
            <span>Search</span>
        </button>
    </form>
    <h3>We recommend you</h3>
    <div class="movies">
        {% for movie in recommended %}
        <div class="mov">
            <a href="{% url 'app_movies:movies_detail' movie.slug %}">
                <img src="{{movie.poster.url}}" alt="{{movie.title}}-poster">
                <h2 class="movietitle">{{movie.title|title}}</h2>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %} {% if is_paginated %} {% include 'pagination.html' with page_obj=page_obj Qparam=request.GET.query only %} {% endif %}
</section>
{% endblock content %}